
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cardHighlight {
  min-height: 100%;
}

.cardCourses {
  min-height: 100%;
  margin-top: 10px;
}


.login {
  margin-top: 25px;
  color: darkblue;
}






